body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}
  
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}
  
.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}