{% extends "layout.html" %}
{% block content %}
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <p>We are a small Italian restaurant that caters to the refined, fresh taste of Italian food.
            We work hard to deliver the rich flavours of the italian cuisine to your city, making you
            endulge in a unique experience. Book your table now and take your taste buds on a trip to Italy!
        </p>
    </main>
    <footer>
        <p>© 2024 Restoranto</p>
    </footer>
</body>
{% endblock content %}