{% extends "layout.html" %}
{% block content %}
<body>
    <header>
        <h1>Make a Reservation</h1>
    </header>
    <main>
        <form id="reservation-form" action='#' method="post" Content-type='application/json'>
            <font face="Elephant"><label for="name">Name:</label></font><br>
            <input type="text" id="name" required><br>
            <font face="Elephant"><label for="date">Date:</label></font><br>
            <input type="date" id="date" required><br>
            <font face="Elephant"><label for="time">Time:</label></font><br>
            <input type="time" id="time" required><br>
            <font face="Elephant"><label for="Number of guests">Number of guests:</label></font><br>
            <input type="radio" name="capacity" value="5">1-5<br>
            <input type="radio" name="capacity" value="10">6-10<br>
            <input type="radio" name="capacity" value="15">11-15<br>
            <input type="radio" name="capacity" value="20">16-20<br>
            <input type="radio" name="capacity" value="25">21-25<br><br>
            </p>
            <p>
            <font face="Elephant"><b>Any Additions or comments?</b></font><br>
            <textarea>
            Leave your additions here please
            </textarea><br><br>
            </p>
            <p><b>
            <button type="submit">Reserve</button>
            <input type="reset" value="Restart" width="50" height="50" background="black">
        </form>
        <div id="reservation-message"></div>
    </main>
    <footer>
        <p>© 2024 Restoranto</p>
    </footer>
</body>
{% endblock content %}