{% extends "layout.html" %}
{% block content %}
<body>
    <header>
        <h1>Our Menu</h1>
    </header>
    <main>
        <h2>Delicious Dishes</h2>
        <table width="75%" border="1" bordercolor="#000000" bordercolordark="#000000">
        </table>
        <h1> <div align="center"> <font color="black", face="Elephant" size="7">PIZZA</h1></font>
        <table border="0" align="center" width="60%">
        <tr align="center">
        <td></td>
        <td><h2><i>Type</i></h2></td>
        <td><h2><i>Price</i></h2></td>
        </tr>
          <tr><p>
           <th><img src="R.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>Margarita pizza</font></h2><h5><p> MOZARELLA CHEESE,CREAM CHEESE,CHEDDAR CHEESE</p></h5> </b></th>
          <th><b><h2>12 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="download.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>Chicken pizza </h2><h5> MOZARELLA CHEES    &nbsp;&nbsp;&nbsp; ,&nbsp;&nbsp;&nbsp;CHICKEN &nbsp;&nbsp;&nbsp;,&nbsp;&nbsp; ONIONS,&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;  ONIONS  TOMATOS</h5> </b></th>
          <th><b><h2>19 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="photo_2022-07-23_13-52-36.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>Peperoni pizza </h2><h5> MOZARELLA CHEES    &nbsp;&nbsp;&nbsp; ,&nbsp;&nbsp;&nbsp;PEPERONI &nbsp;&nbsp;&nbsp;,&nbsp;&nbsp; ONIONS,&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;  TOMATOS</h5> </b></th>
          <th><b><h2>19 EUR</h2></th>
          </p></tr>
          </table>
          <h1> <div align="center"> <font color="black", face="Elephant" size="7">PASTA</h1></font>
        <table border="0" align="center" width="60%">
        <tr align="center">
        <td></td>
        <td><h2><i>Type</i></h2></td>
        <td><h2><i>Price</i></h2></td>
        </tr>
          <tr><p>
           <th><img src="photo_2022-07-23_14-23-44.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>FETTUCINI PASTA</font></h2><h5> CHEES MIX&nbsp;&nbsp;&nbsp; ,&nbsp;&nbsp;&nbsp;PLAIN WHITE SAUCE &nbsp;&nbsp;&nbsp;,&nbsp;&nbsp; ONIONS</b></th>
          <th><b><h2>21 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="photo_2022-07-23_14-23-39.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>PESTO PASTA</h2><h5><p>CHICKEN&nbsp;&nbsp;&nbsp;, &nbsp;&nbsp;&nbsp;SALMON </b></th>
          <th><b><h2>31 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="photo_2022-07-23_14-23-41.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>PASTA PUTTANESCA</font></h2><h5><p> SOUR CHEESE&nbsp;&nbsp;&nbsp;, &nbsp;&nbsp;&nbsp; SPICY SAUCE&nbsp;&nbsp;&nbsp;</p></h5> </b></th>
         <th><b><h2>19 EUR</h2></th>
          </p></tr>
          </table>
        <h1> <div align="center"> <font color="black", face="Elephant" size="7">APPITIZERS</h1></font>
        <table border="0" align="center" width="60%">
        <tr align="center">
        <td></td>
        <td><h2><i>Type</i></h2></td>
        <td><h2><i>Price</i></h2></td>
        </tr>
          <tr><p>
           <th><img src="Simply-Recipes-Brushetta-With-Tomato-And-Basil-Lead-Shot-5c-8d40f247afdd44558203d97eafb8805f.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>Bruschetta</font></h2></b></th>
          <th><b><h2>12 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="cheesy_garlic_bread.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>GARLIC BREAD </h2> </b></th>
          <th><b><h2>19 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="Homemade-Mozzarella-Sticks-Featured-Image.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>MOZARELLA STICKS </h2><h5>  </b></th>
          <th><b><h2>19 EUR</h2></th>
          </p></tr>
          </table>
        
          <h1> <div align="center"> <font color="black", face="Elephant" size="7">DESERTS</h1></font>
        <table border="0" align="center" width="60%">
        <tr align="center">
        <td></td>
        <td><h2><i>Type</i></h2></td>
        <td><h2><i>Price</i></h2></td>
        </tr>
          <tr><p>
           <th><img src="photo_2022-07-23_13-52-29.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>TIRAMISU</font></h2><h5><p> PURE COFFEE&nbsp;&nbsp;&nbsp;, &nbsp;&nbsp;&nbsp; RUM&nbsp;&nbsp;&nbsp;, &nbsp;&nbsp;&nbsp; OR CONGAC</p></h5> </b></th>
          <th><b><h2>30 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="photo_2022-07-23_14-16-49.jpg"  height=130 width=130 border=" " />  </th>
          <th><b><h2>CANOLLI</font></h2><h5><p> RICOTTA CHEESE&nbsp;&nbsp;&nbsp;, &nbsp;&nbsp;&nbsp; MASCARPONE&nbsp;&nbsp;&nbsp;, &nbsp;&nbsp;&nbsp; OR DARK CHOCOLATE</p></h5> </b></th>
          <th><b><h2>43 EUR</h2></th>
          </p></tr>
          </table>
        <br>
        <h1> <div align="center"> <font color="black", face="Elephant" size="7">DRINKS</h1></font>
        <table border="0" align="center" width="60%">
        <tr align="center">
        <td></td>
        <td><h2><i>Type</i></h2></td>
        <td><h2><i>Price</i></h2></td>
        </tr>
          <tr><p>
           <th><img src="1_5_big.png"  height=130 width=130 border=" " />  </th>
          <th><b><h2>WATER</font></h2></b></th>
          <th><b><h2>2 EUR</h2></th>
          </p></tr>
          </table>
          <table border="0" align="center" width="60%">
          <tr><p>
          <th><img src="مكونات+الموهيتو+الازرق.webp"  height=130 width=130 border=" " />  </th>
          <th><b><h2>SOFT DRINKS</font></h2></b></th>
          <th><b><h2>7 EUR</h2></th>
          </p></tr>
          <th><img src="espresso.png"  height=130 width=130 border=" " />  </th>
          <th><b><h2>ESPRESSO</font></h2></b></th>
          <th><b><h2>9 EUR</h2></th>
          </p></tr>
          </table>
        <ul id="menu-list"></ul>
        {% for dish in menu %}
            <li>{{dish.name}} {{dish.price}}</li>
        {% endfor %}
    </main>
    <footer>
        <p>© 2024 Restoranto</p>
    </footer>
</body>
{% endblock content %}